label {
    margin-right: 1em;
}

input {
    border: 0;
    font-size: 1em;
    height: 20px;
    max-width: 500px;
    width: 500px;
}

.Add-Form {
    background: #8c8c8c;
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: center;
}

.Add-Form div {
    display: flex;
    flex-direction: row;
    margin: .2em;
    justify-content: center;
}